argparse
beautifulsoup4
bokeh
boto3
cryptography
cssselect
django
flask
ggplot
keras
lightning
lxml
matplotlib
mechanize
numexpr
numpy
opencv-python
pandas
parsel
patsy
patsy
Pillow
plotly
polars
protobuf
psutil
ptflops
pyOpenSSL
pycaret
pycurl
pydot
pyparsing
pyquery
pytesseract
python-dateutil
python-dotenv
pyyaml
queuelib
requests
scikit-learn
scipy
scrapy
seaborn
selenium
serpapi
speechbrain
statsmodels
theano
torch
torchaudio
torchvision
w3lib
wandb
xlrd
